@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dsgpst');
  src:  url('fonts/icomoon.eot?dsgpst#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dsgpst') format('truetype'),
    url('fonts/icomoon.woff?dsgpst') format('woff'),
    url('fonts/icomoon.svg?dsgpst#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kicon-"], [class*=" kicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kicon-fintel:before {
  content: "\e907";
  color: rgb(255, 255, 255);
}
.kicon-fintel-simple:before {
  content: "\e900";
  color: rgb(9, 117, 22);
}
.kicon-fintel-square:before {
  content: "\e905";
  color: rgb(9, 117, 22);
}
.kicon-envelope-o:before {
  content: "\f003";
}
.kicon-close:before {
  content: "\f00d";
}
.kicon-linkedin-square:before {
  content: "\f08c";
}
.kicon-twitter:before {
  content: "\f099";
}
.kicon-facebook:before {
  content: "\f09a";
}
.kicon-github:before {
  content: "\f09b";
}
.kicon-globe:before {
  content: "\f0ac";
}
.kicon-chain:before {
  content: "\f0c1";
}
.kicon-pinterest:before {
  content: "\f0d2";
}
.kicon-pinterest-square:before {
  content: "\f0d3";
}
.kicon-google-plus-square:before {
  content: "\f0d4";
}
.kicon-google-plus:before {
  content: "\f0d5";
}
.kicon-envelope:before {
  content: "\f0e0";
}
.kicon-linkedin:before {
  content: "\f0e1";
}
.kicon-youtube-square:before {
  content: "\f166";
}
.kicon-youtube:before {
  content: "\f167";
}
.kicon-youtube-play:before {
  content: "\f16a";
}
.kicon-dropbox:before {
  content: "\f16b";
}
.kicon-instagram:before {
  content: "\f16d";
}
.kicon-flickr:before {
  content: "\f16e";
}
.kicon-tumblr:before {
  content: "\f173";
}
.kicon-tumblr-square:before {
  content: "\f174";
}
.kicon-dribbble:before {
  content: "\f17d";
}
.kicon-skype:before {
  content: "\f17e";
}
.kicon-vimeo-square:before {
  content: "\f194";
}
.kicon-wordpress:before {
  content: "\f19a";
}
.kicon-google:before {
  content: "\f1a0";
}
.kicon-reddit:before {
  content: "\f1a1";
}
.kicon-reddit-square:before {
  content: "\f1a2";
}
.kicon-stumbleupon-circle:before {
  content: "\f1a3";
}
.kicon-stumbleupon:before {
  content: "\f1a4";
}
.kicon-git-square:before {
  content: "\f1d2";
}
.kicon-git:before {
  content: "\f1d3";
}
.kicon-qq:before {
  content: "\f1d6";
}
.kicon-circle-thin:before {
  content: "\f1db";
}
.kicon-share-alt:before {
  content: "\f1e0";
}
.kicon-twitch:before {
  content: "\f1e8";
}
.kicon-whatsapp:before {
  content: "\f232";
}
.kicon-snapchat:before {
  content: "\f2ab";
}
.kicon-snapchat-ghost:before {
  content: "\f2ac";
}
.kicon-snapchat-square:before {
  content: "\f2ad";
}
.kicon-telegram:before {
  content: "\f2c6";
}
